In [1]:
import pandas as pd

In [2]:
x = [1,2,3,4,5]
y = [5,4,3,2,1]

In [14]:
df = pd.DataFrame(list(zip(x, y))

In [15]:
df

     0
0  3.0
1  3.0
2  3.0
3  3.0
4  3.0

In [9]:
x+y

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

[3.0, 3.0, 3.0, 3.0, 3.0]